@import url('https://fonts.googleapis.com/css?family=Arsenal:700');
* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    text-align: center;
}

h1{
  font-family: 'Arsenal', sans-serif;
  color: #505050;
  text-align: center;
}

#word-container{
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

#checked-letters{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#word-container{
  font-size: 26px;
  margin-bottom: 15px;
  margin-top: 30px;
  background-color: #fff5c3;
}

#letters-container{
  width: 430px;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  background-color: aquamarine;
}

